$browser-prefixes: false !default;
// --placeholder-color-default: #ff6666;

:root {
  --color_white: #fff;

  //extras
  --container_width: 100%;
  --transition: ease all 300ms;

  //
  --font-bold: "bold";
  --font-normal: "normal";

  // --font_vedanta: "M PLUS 1", sans-serif;
  /*	============================== #Color ==================================== */

  --color_primary: #292727;
  --color_green: #74bf44;
  --color_para: #535252;
  --color_blue: #0063a8;
  --color_blue_light: #e0f2ff;
  --color_bg: #f2faff;
  --color_bg_gray: #f6f6f6;
  --color_gray_light: #e9e9e9;
  --color_gray_light_2: #b5b6b7;
  --color_vedanta_gray: #91959c;
  --color_white: #ffffff;
  --color_black: #000000;

  --color_style1: #e7f4df;
  --color_style2: #535252;
  --color_style3: #b5b6b7;
  --color_style4: #e9e9e9;

  @media (min-width: 768px) and (max-width: 991px) {
    --container_width: 750px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    --container_width: 970px;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    --container_width: 1170px;
  }

  @media (min-width: 1401px) {
    --container_width: 1360px;
  }

  --container_left_space: calc((100% - var(--container_width)) / 2);
}
